Object creation

In [10]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

person1 = Person("hrushikesh", 23)  
print(person1.name) 
print(person1.age)

hrushikesh
23

SCOPE

a. Global scope

In [11]:
person2 = Person("avishek", 35) 
print(person2.name) 
print(person2.age)

avishek
35

b. Local scope

In [12]:
def create_person():
    person3 = Person("riju", 25)  
    print(person3.name)  
    print(person3.age)  
create_person()

riju
25