In [13]:
import os
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

In [14]:
df=pd.read_csv('golf_df.csv')

In [15]:
df.sample(7)

     Outlook Temperature Humidity  Windy Play
4      rainy        cool   normal  False  yes
8      sunny        cool   normal  False  yes
0      sunny         hot     high  False   no
13     rainy        mild     high   True   no
5      rainy        cool   normal   True   no
3      rainy        mild     high  False  yes
12  overcast         hot   normal  False  yes

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Windy        14 non-null     bool
 4   Play         14 non-null     object
dtypes: bool(1), object(4)
memory usage: 594.0+ bytes

In [17]:
df=df.apply(lambda x : x.astype('category'))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     category
 1   Temperature  14 non-null     category
 2   Humidity     14 non-null     category
 3   Windy        14 non-null     category
 4   Play         14 non-null     category
dtypes: category(5)
memory usage: 796.0 bytes

In [19]:
df=df.apply(lambda x :x.cat.codes)

In [20]:
df.head()

   Outlook  Temperature  Humidity  Windy  Play
0        2            1         0      0     0
1        2            1         0      1     0
2        0            1         0      0     1
3        1            2         0      0     1
4        1            0         1      0     1

In [21]:
train = df[:10]
test=df[-4:]

In [22]:
y_train = train.pop('Play')
x_train= train

y_test = test.pop('Play')
x_test= test

In [23]:
model= MultinomialNB()

In [25]:
nb= model.fit(x_train,y_train)

In [26]:
x_test

    Outlook  Temperature  Humidity  Windy
10        2            2         1      1
11        0            2         0      1
12        0            1         1      0
13        1            2         0      1

In [27]:
y_pred = model.predict(x_test)

In [28]:
y_pred

array([1, 1, 1, 0], dtype=int8)

In [32]:
print ('Training accuracy:',model.score(x_train,y_train))
print ('Testingaccuracy:',model.score(x_test,y_pred))

Training accuracy: 0.9
Testingaccuracy: 1.0