In [2]:
import os
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

In [3]:
os.chdir(r'C:\Users\vigne\Desktop\WORK\DATASETS')

In [6]:
df=pd.read_csv('golfplay.csv')

In [7]:
df.head()

    Outlook  Temperature  Humidity  Wind  Play
0     sunny         85.0      85.0     0     0
1     sunny         80.0      90.0     1     0
2  overcast         83.0      78.0     0     1
3      rain         70.0      96.0     0     1
4      rain         68.0      80.0     0     1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     float64
 2   Humidity     14 non-null     float64
 3   Wind         14 non-null     int64
 4   Play         14 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 688.0+ bytes

In [9]:
df=df.apply(lambda x : x.astype('category'))

In [10]:
df1=df.apply(lambda x :x.cat.codes)

In [18]:
df1.head()

   Outlook  Temperature  Humidity  Wind  Play
0        2           11         5     0     0
1        2            8         6     1     0
2        0           10         3     0     1
3        1            4         8     0     1
4        1            2         4     0     1

In [22]:
train = df1[:10]
test=df1[-4:]

In [23]:
Y_train = train.pop('Play')
X_train= train

Y_test = test.pop('Play')
X_test= test

In [31]:
model= MultinomialNB()

In [32]:
model_obj= model.fit(X_train,Y_train)

In [27]:
X_test

    Outlook  Temperature  Humidity  Wind
10        2            7         1     1
11        0            6         6     1
12        0            9         2     0
13        1            5         4     1

In [33]:
y_out = model.predict(X_test)

In [34]:
y_out

array([0, 1, 1, 1], dtype=int8)

In [35]:
print ('Training accuracy:',model.score(X_train,Y_train))
print ('Testingaccuracy:',model.score(X_test,Y_test))

Training accuracy: 0.7
Testingaccuracy: 0.5